@model DataAccess.Pagination.PaginatedList<Intern>


<a asp-action="Add">Add More</a>
<br />
<br />
<br />

@foreach (var intern in Model)
{
    <h1>@intern.Name</h1>
    <a asp-action="GetById" asp-route-id="@intern.Id">Details</a>
    <a asp-action="Update" asp-route-id="@intern.Id">Edit</a>

}