@model Infrastructure.Users.ViewModels.GetUserVm;

@{
    Layout = null;
}
<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
    <img src="~/Limitless/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
    <span>@Model.UserName</span>
</a>

<div class="dropdown-menu dropdown-menu-right">
    <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
    <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
    <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
    <a href="#" onclick="document.getElementById('LogOutForm').submit()" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
</div>


<form id="LogOutForm" asp-action="SignOut" asp-controller="Login" asp-area="Identity" method="post">
</form>