@model Infrastructure.Restaurants.Commands.CreateRestaurantCommand

<a asp-action="Index">Index</a>

<form asp-action="Add" method="post">
    <label>Name</label>
    <input asp-for="Name" />
    <br />
    <label>Person In Charge</label>
    <input asp-for="PersonInCharge" />
    <br />
    <label>Address</label>
    <input asp-for="Address" />
    <br />
    <label>Position</label>
    <br />
    <label>Phone</label>
    <input asp-for="PhoneNumber" />
    <br />
    <button type="submit">Add</button>
</form>